<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
		
				
				 <!-- <property name="url" value="jdbc:oracle:thin:@park.mockingu.com" /> --> 
				 <property name="url" value="jdbc:oracle:thin:@54.180.8.152:1521:xe" /> 
				<property name="username" value="dev" />
				<property name="password" value="alcls504" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
	<!-- <mapper resource="mappers/mapper-board.xml"/> -->
	
	<mapper resource="mappers/mapper-account.xml"/>	
		
		
	</mappers>
	
</configuration>